<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.konbini.market"
    android:versionCode="16"
    android:versionName="0.2.0a">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.android.package-archive" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="23">

        <provider
            android:name="io.github.konbini.market.service.APKFileProvider"
            android:authorities="io.github.konbini.market.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.CategoryListActivity" />
        <activity android:name=".ui.CategoryAppsActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.AppDetailActivity" />
        <service android:name="io.github.konbini.market.service.DownloadService" />
        <service android:name="io.github.konbini.market.service.UpdateCheckService" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.ProfileActivity" />
		<activity android:name=".ui.UserProfileActivity" />
		<activity android:name=".ui.DownloadsActivity" />
    </application>

</manifest>
